<h1>Hacker News Login Page</h1>

<form action="/">
  <input type="submit" value="< Home">
</form>

<h5>You can test it with username: <strong>test</strong> and password: <strong>12345</strong> or register with your own.</h5>

<h3>Register</h3>

<form action="/create_user" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  Email:<br>
  <input type="text" name="email"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>

<h3>Login</h3>

<form action="/login1" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>

<a href="/get_username">Forgot username</a>
