<h1>Hacker News</h1>

<h3><a href="/login">Login to add a new post</a></h3></br>

<% @posts.all.order("votes").reverse_order.each_with_index do |post, i| %>
  <h5><a href="<%= post.url %>"><%= i + 1 %> - <%= post.name %> </a></h5>
  <h6><%= post.votes %> points</h6>
<% end %>
